[submodule "up"]
	path = up
	url = https://github.com/akavel/up.git
[submodule "bash-history-cheat-sheet"]
	path = CHEAT-SHEETS/bash-history-cheat-sheet
	url = https://github.com/pkrumins/bash-history-cheat-sheet.git
[submodule "CHEAT-SHEETS/bash-shortcuts-cheat-sheet"]
	path = CHEAT-SHEETS/bash-shortcuts-cheat-sheet
	url = https://github.com/fliptheweb/bash-shortcuts-cheat-sheet.git
[submodule "chezmoi"]
	path = chezmoi
	url = git@github.com:twpayne/chezmoi.git
[submodule "gist-puller"]
	path = gist-puller
	url = https://gist.github.com/antonydevanchi/69977f626b99cff7048987a357296812
[submodule "ytcc"]
	path = ytcc
	url = git@github.com:woefe/ytcc.git
[submodule "pythonrc"]
	path = pythonrc
	url = git@github.com:lonetwin/pythonrc.git
[submodule "user.js"]
	path = user.js
	url = https://github.com/arkenfox/user.js.git
[submodule "youtube-dl"]
	path = youtube-dl
	url = https://github.com/ytdl-org/youtube-dl.git
